<template lang="pug">
  .CriarContatos
    v-container
      v-form.customizarForm(
        ref="form"
        v-model="valid"
        )
        v-text-field(
          required
          label="Nome"
          :counter="30"
          v-model="contato.nome"
          :rules="nomeRules"
          )
        v-text-field(
          required
          label="Idade"
          v-model="contato.idade"
          :rules="idadeRules"
          )
        v-text-field(
          required
          label="Endereço"
          v-model="contato.endereco"
          :rules="enderecoRules"
          )
        v-text-field(
          required
          label="CEP"
          v-model="contato.cep"
          :rules="cepRules"
          )
        v-text-field(
          required
          label="País"
          v-model="contato.pais"
          :rules="paisRules"
          )
        v-text-field(
          required
          label="Telefone"
          v-model="contato.telefone"
          :rules="telefoneRules"
          )
        v-text-field(
          required
          label="Imagem(url)"
          v-model="contato.imagem"
          :rules="imagemRules"
          )
      v-layout(row)
        v-spacer
        v-btn(
          color="red"
          :to="{ name: 'MostrarContatos'}"
          ) Voltar
        v-btn(
          color="grey"
          @click="limpar"
          ) Limpar
        v-btn(
          color="brown"
          @click="enviar"
          ) Enviar
</template>

<script>
import API from '@/lib/API';

export default {
  data: () => ({
    contato: {
      nome: '',
      idade: '',
      endereco: '',
      cep: '',
      pais: '',
      telefone: '',
      imagem: '',
    },
    valid: true,
    existe: false,
    nomeRules: [(nome) => {
      if (nome.trim() === '') return 'Campo obrigatório';
      if (!isNaN(nome)) return 'Você não pode inserir números';
      if (nome.length > 30) return 'Você excedeu o número máximo de caracteres';
      return true;
    }],
    idadeRules: [(idade) => {
      if (isNaN(idade)) return 'Você deve inserir somente números';
      return true;
    }],
    enderecoRules: [(endereco) => {
      if (endereco.trim() === '') return 'Campo obrigatório';
      return true;
    }],
    cepRules: [(cep) => {
      if (isNaN(cep)) return 'Você deve inserir somente números';
      if (cep.trim() === '') return 'Campo obrigatório';
      return true;
    }],
    paisRules: [(pais) => {
      if (pais.trim() === '') return 'Campo obrigatório';
      if (!isNaN(pais)) return 'Você não pode inserir números';
      return true;
    }],
    telefoneRules: [(telefone) => {
      if (telefone.trim() === '') return 'Campo obrigatório';
      return true;
    }],
    imagemRules: [(imagem) => {
      if (imagem.trim() === '') return 'Campo obrigatório';
      return true;
    }],
  }),
  mounted() {
    const { id } = this.$route.params;
    this.load(id);
  },
  methods: {
    limpar() {
      this.$refs.form.reset();
    },
    load(id) {
      API.pegarContato(id)
        .then((contato) => {
          this.contato = contato;
        });
    },
    enviar() {
      if (!this.contato.id) {
        if (this.valid) {
          API.criarContato(this.contato)
            .then(({ id }) => {
              this.$router.push({
                name: 'MaximizarContato',
                params: {
                  id,
                },
              });
            });
        }
      }
      if (this.valid) {
        API.atualizarContato(this.contato.id, this.contato)
          .then(() => {
            this.$router.push({
              name: 'MaximizarContato',
              params: {
                id: this.contato.id,
              },
            });
          });
      }
    },
  },
};
</script>

<style media="screen">
  .customizarForm {
    font-family: verdana;
    border: 2px solid skyblue;
    border-radius: 20px;
    margin: 2px;
    padding: 30px;
  }
  label {
    text-shadow: 1px 1px 1px skyblue;
    letter-spacing: 5px;
    font-family: monospace;
  }
</style>
