<template lang="pug">
  .ListarContatos
    template
      v-container
        v-card.customizarContainer
          v-card-title
            .customizarTitulo Contatos
            v-spacer
            v-text-field(
              v-model="search"
              append-icon="search"
              label="Procurar"
              color="blue"
              )
          v-data-table(
            :headers="headers"
            :items="contato"
            :search="search"
            )
            template(
              slot="items"
              slot-scope="props"
              )
              td {{ props.item.nome }}
              td {{ props.item.idade }}
              td {{ props.item.cep }}
              td {{ props.item.pais }}
              td {{ props.item.telefone }}
              v-btn(
                fab
                small
                :to="{ name: 'EditarContatos', params: {id:props.item.id} }"
                )
                v-icon edit
              v-btn(
                fab
                small
                slot="activator"
                @click="confirmarRemocao(props.item.id)"
                )
                v-icon delete
            v-alert(
             slot="no-results"
             :value="true"
             color="error"
             icon="warning")
              | Sua pesquisa não foi encontrada
      v-dialog(
        v-model="dialog"
        max-width="400px"
        )
        v-card
          v-card-title.headline Deseja realmente excluir ?
          v-card-actions
            v-spacer
            v-btn(
              color="green darken-1"
              flat
              @click.native="setarFalso"
              ) Não
            v-spacer
            v-btn(
              color="green darken-1"
              flat
              @click="deletarContato(id)"
              ) Sim
</template>

<script>
import API from '@/lib/API';

export default {
  data: () => ({
    dialog: false,
    id: '',
    search: '',
    headers: [
      {
        text: 'Nome',
        sortable: true,
        value: 'nome',
      },
      {
        text: 'Idade',
        sortable: true,
        value: 'idade',
      },
      {
        text: 'cep',
        sortable: true,
        value: 'cep',
      },
      {
        text: 'País',
        sortable: true,
        value: 'pais',
      },
      {
        text: 'Telefone',
        sortable: true,
        value: 'telefone',
      },
    ],
    contato: [],
  }),
  mounted() {
    const { id } = this.$route.params;
    this.load(id);
  },
  methods: {
    setarFalso() {
      this.dialog = false;
    },
    load() {
      API.pegarContatos()
        .then((contato) => {
          this.contato = contato;
        });
    },
    confirmarRemocao(id) {
      this.dialog = true;
      this.id = id;
    },
    deletarContato(id) {
      API.deletarContato(id)
        .then(() => {
          this.setarFalso();
          this.load();
        });
    },
  },
};
</script>
<style media="screen">
  .customizarContainer {
    background: linear-gradient(white, blue);
  }
  .customizarTitulo {
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-shadow: 1px 1px black;
    font-family:sans-serif;
    letter-spacing: 6px;
  }
  td {
    color: black;
    letter-spacing: 2px;
  }
</style>
