<template lang="pug">
  .MaximizarContato
    v-layout(
      align-center
      justify-center
      fill-height
      )
      v-flex(xs6)
        v-card(id="posicao")
          v-card-media(:src="contato.imagem" height="400px")
          v-card-title
            .title#mudarFont {{ contato.nome }}
          v-card-text
            .subheading {{ contato.idade }} anos
            .subheading Telefone: {{ contato.telefone }}
            .subheading Endereço: {{ contato.endereco }}
            .subheading Cep: {{ contato.cep }}
            .subheading País: {{ contato.pais }}
          v-card-actions
            v-list-tile(to="/")
              v-list-tile-action
                v-icon chevron_left
            v-btn(
              :to="{ name: 'EditarContatos', params: {id:contato.id} }"
              color="warning"
            ) Editar
            v-dialog(
              v-model="dialog"
              max-width="400px"
              )
              v-btn(
                slot="activator"
                color="primary"
                ) Deletar
              v-card
                v-card-title.headline Deseja realmente excluir ?
                v-card-actions
                  v-spacer
                  v-btn(
                    color="green darken-1"
                    flat
                    @click.native="dialog = false"
                    ) Não
                  v-btn(
                    color="green darken-1"
                    flat
                    @click="deletarContato"
                    ) Sim
</template>

<script>
import API from '@/lib/API';

export default {
  data: () => ({
    contato: {},
    dialog: false,
  }),
  mounted() {
    const { id } = this.$route.params;
    this.load(id);
  },
  methods: {
    load(id) {
      API.pegarContato(id)
        .then((contato) => {
          this.contato = contato;
        });
    },
    deletarContato() {
      const { id } = this.$route.params;

      API.deletarContato(id)
        .then(() => {
          this.$router.push({
            name: 'MostrarContatos',
          });
        });
    },
  },
};
</script>
<style lang="css">
#mudarFont {
  color: red;
  font-family: monospace;
  font-style: italic;
}
#posicao {
  padding-top: 4px;
}
</style>
