<template lang="pug">
  .contatos
    v-container(
      fluid
      grid-list-xs
      )
    v-layout(
      row
      wrap
      align-center
      justify-center
      )
      v-flex.ma-2(
        xs3
        :key="contatos.id"
        v-for="(contato, id) in contatos"
        )
          v-card
            v-card-media(
              height="200px"
              :src="contato.imagem"
              )
            v-card-title(primary-title)
              .nome-e-idade.customizarFont
                .headline {{ contato.nome }}
                .grey--text {{ contato.idade }} anos
            v-card-actions
              v-expansion-panel
                v-expansion-panel-content
                  .customizarFont(slot="header") Mais informações
                  v-btn(
                   small
                   color="error"
                   :to="{ name:'MaximizarContato', params: {id:contato.id}}"
                  ) Ver
                  v-card
                    v-card-text.customizarFont
                      .subheading Telefone: {{ contato.telefone }}
                      .subheading Endereço: {{ contato.endereco }}
                      .subheading Cep: {{ contato.cep }}
                      .subheading País: {{ contato.pais }}
</template>

<script>
import API from '@/lib/API';

export default {
  data: () => ({
    show: false,
    contatos: [],
  }),
  mounted() {
    this.load();
  },
  methods: {
    load() {
      API.pegarContatos()
        .then((contatos) => {
          this.contatos = contatos;
        });
    },
  },
};
</script>
<style>
.customizarFont{
  font-family: verdana;
  font-size: 15px;
}
</style>
