<template lang="pug">
v-app#inspire
  v-navigation-drawer.customizarDrawer(
    v-model="drawer"
    fixed
    app
    )
    v-list.MudarCorDaFonte
      v-list-tile.customizarTile(to="/")
        v-list-tile-action
          v-icon view_list
        v-list-tile-content.MudarCorDaFonte
          v-list-tile-title Contatos
      v-list-tile.customizarTile(to="/criar-contatos")
        v-list-tile-action
          v-icon add_circle
        v-list-tile-content.MudarCorDaFonte
          v-list-tile-title Adicionar Contatos
      v-list-tile.customizarTile(to="/listar-contatos")
        v-list-tile-action
          v-icon apps
        v-list-tile-content.MudarCorDaFonte
          v-list-tile-title Listar Contatos
  v-toolbar(
    app
    dark
    fixed
    color="blue"
    )
    v-toolbar-side-icon(@click.stop="drawer = !drawer")
  v-content
    router-view
</template>

<script>
export default {
  data: () => ({
    drawer: false,
  }),
  props: {
    source: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.customizarDrawer {
  background-color: #2E9AFE;
}
.MudarCorDaFonte {
  color: white;
}
.customizarTile {
  margin-bottom: 15px;
  letter-spacing: 3px;
}

</style>
